.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

.logo {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

span {
  text-shadow: 0 0 10px rgba(78, 205, 194, 0.5);
  animation: slideInDown 0.8s ease-out;
}

.goBack {
  color: #ffffff;
}

.dashboard-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #ffffff;
}

.dashboard-label {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 0 0 5px rgba(78, 205, 194, 0.5);
}

.nav-buttons {
  color: rgb(255, 255, 255);
  background-color: #4cdad2;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logout-button {
  color: #ffffff;
  background-color: #ff0000;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: box-shadow 0.3s ease-in-out;
}

.logout-button:hover {
  box-shadow: 0 0 15px 10px rgba(255, 0, 0, 0.7);
}
